<p id="notice"><%= notice %></p>

<h1>Scans</h1>

<table>
  <thead>
    <tr class="text">
      <th>Name</th>
      <th>Time</th>
      <th>Result</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody class="text">
    <% @scans.each do |scan| %>
      <tr class="scanlist">
        <td><%= scan.name %></td>
        <td><%= scan.time %></td>
        <td><%= scan.result %></td>
        <td><%= link_to 'Show', scan %></td>
        <td><%= link_to 'Edit', edit_scan_path(scan) %></td>
        <td><%= link_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Scan all domains now: <%= link_to 'Scan all',  scan_all_path  %></p>

