<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scan.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scan.time %>
</p>

<p>
  <strong>Result:</strong>
  <%= @scan.result %>
</p>

<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
