<p id="notice"><%= notice %></p>

<h1 class="text">Results</h1>

<table>
  <thead>
    <tr class="text">
      <th>Name</th>
      <th>Time</th>
      <th>Http code</th>
      <th>Dns</th>
      <th>Https</th>
      <th>Runid</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr class="resultlist">
        <td><%= result.name %></td>
        <td><%= result.time %></td>
        <td><%= result.http_code %></td>
        <td><%= result.dns %></td>
        <td><%= result.https %></td>
        <td><%= result.runid %></td>
        <td><%= result.status %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
