<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<p>
  <strong>Http code:</strong>
  <%= @result.http_code %>
</p>

<p>
  <strong>Dns:</strong>
  <%= @result.dns %>
</p>

<p>
  <strong>Https:</strong>
  <%= @result.https %>
</p>

<p>
  <strong>Runid:</strong>
  <%= @result.runid %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
